/* General Farsi Text Styling */
.farsi-text {
    font-family: 'Calibri', sans-serif;
    direction: rtl;
    unicode-bidi: embed;
    text-align: justify;
    line-height: 1.6;
}

/* Styling for Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Calibri', sans-serif;
    direction: rtl;
    unicode-bidi: embed;
    text-align: right;
}

/* Additional styling for paragraphs */
p {
    font-family: 'Calibri', sans-serif;
    direction: rtl;
    unicode-bidi: embed;
    text-align: justify;
    line-height: 1.6;
}
